@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family:  'Poppins', sans-serif;
    
}

.container{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.biodatabox{
    margin-top: 50px;
    width: 70%;
    height: 100%;
    padding: 50px;
    position: relative;
    border: 3px solid rgb(12, 9, 14);
    border-radius: 1px 90px 1px 1px;
}
.biodatabox::before{
    width: 100%;
    height: 100%;
    margin: -50px;
    position: absolute;
    border-radius: 1px 90px 1px 1px;
    content: "";
    background: url(bg1.jpg);
    background-size: 100% 100%;
    opacity: .6;
    z-index: -10;
}
.img{
    position: absolute;
    margin-right: 200px;
    margin-top: 60px;
    right: 0;
}
.img{
    backface-visibility: hidden;
}
.table{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family:  'Poppins', sans-serif;
}

.hed{
    text-align: center;
    font-size: 40px;
    color: rgb(47, 18, 179);
    font-weight: 500;
    margin-bottom: 200px;
    
}
.heds{
    padding-left: 10%;
    font-size: 30px;
    font-weight: 600;
    font-style: oblique;
    color: darkmagenta;
    text-shadow: 15px 15px 40px white;
}
.hedsa{
    font-size: 30px;
    font-weight: 600;
    font-style: inherit;
    color: rgb(247, 58, 11);
    text-align: center;
}
.field{
    border: 3px solid rgb(55,0,255);
    border-radius: 20px;
}
.name{
    color: rgb(3, 5, 4);
    font-weight: 550;
}
.ans{
    font-size: 15px;
}


